.Product{
    height: 400px;
    width: 250px;
    border: 1px solid #95a0a76b;
    border-radius: 8px;
}
.product-img{
    width:100%;
    border-radius: 7px;
}

.product-name{
    font-size: 21px;
}
.product-price{
    font-size: 17px;
}
.product-manufacture-rating{
    font-size: 12px;
}
.add-to-cart-btn{
    padding: 8px;
    width: 100%;
    background-color: #FF9900;
    border-radius: 8px;
}